@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('./assets/fonts/PretendardVariable.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: 'Pretendard-Regular', sans-serif;
  background-color: #dedede;
}
body,
button,
dd,
div,
dl,
dt,
fieldset,
figcaption,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
