@tailwind base;
@tailwind components;
@tailwind utilities;

body,
button,
dd,
div,
dl,
dt,
fieldset,
figcaption,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

.cart-tab.active::after {
  background-color: #222;
  bottom: -1px;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.cart-tab2::after {
  background-color: #ebebeb;
  content: '';
  height: 20px;
  position: absolute;
  /* right: 50%; */
  left: 0%;
  top: 20px;
  width: 1px;
  z-index: 1;
}
